* {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 500;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

svg {
  width: 48px;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
}

p {
  font-size: 14px;
}

@media (max-width: 500px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  svg {
    width: 40px;
    height: 40px;
    padding: 6px;
  }

  p {
    font-size: 11px;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 12px;
  }

  svg {
    width: 32px;
    height: 32px;
    padding: 6px;
  }
}
